# macOS
.DS_Store

# Source materials (not part of the published site)
DealBreakerFinalWriteUp.pdf
EDUC208B LHV Curriculum.pdf
Kwasi AD Resumé Oct 21 (1).pdf
Kwasi AD Website Portfolio Links.docx
Kwasi AD Website Portfolio Links.pdf
Kwasi Adi-Dako LDT 2026 Learning Portfolio.pptx
Netflix Senior Simulation & Experiential Designer JD.pdf
Pebbles SWAYWO presentation.pptx
_Kwasi Resumé - LDT 2018.pdf
